body{
    background-image: url('./background.gif')
}

.loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #86c232;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
/* 
    border: 16px solid #f3f3f3;
    border-radius: 100%;
    border-top: 16px solid #86c232;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari 
    animation: spin 2s linear infinite;
    position: absolute;
    left: 50%;
    top: 50%; */
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }