<!doctype html>
<html>
   <head>
      <title>Match Runner</title>
      <meta name="keywords" content="" />
      <meta name="description" content="" />
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        
        
      <!--style>
         </style-->
      <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script-->
      <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
      <script src="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.jquery.min.js"></script>
      <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.7/jquery.validate.min.js"></script>
      <script>if (window.module) module = window.module;</script>
      <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script type="text/javascript">
         jQuery(document).ready(function(){
         $('#my_form_id').validate({ // initialize plugin
         // rules & options, 
         rules: {
            bot1: {
                required: true
            },
            bot2: {
                required: true
            },
            map:{
                required:true
            }
         },
         
         submitHandler: function(form) {
            if ($("input#visualize_id").is(":checked")){
                                 
                $("#watch_id").show();
                          }
                          else{
                             $("#watch_id").hide();
                          }
                         $.ajax({
                              url: "{{ url_for('run_games')}}",
                              type: "POST",
                              data:
                             {
                                  "Bot1": $("#bot1").chosen().val(),
                                  "Bot2": $("#bot2").chosen().val(),
                                  "Map": $("#map").chosen().val(),
                                  "Realtime": $("input#realtime_id").is(":checked"),                   
                                  "Visualize": $("input#visualize_id").is(":checked"),
                                  "Iterations": $("#iterations_id").val()
                             },       
                         })
                          event.preventDefault();
                          
            return false;  // blocks regular submit since you have ajax
         },
         errorPlacement: function(error, element) {
                error.insertAfter(element);
            
           // else {
             //   
            //}
         }
         });
         
         
         $('a#play_button').on('click', function() {
            $("#my_form_id").submit();
                });
         
         jQuery(".chosen").data("placeholder","Select Frameworks...").chosen();
         $("#watch_id").hide();
         $(function() {
         
                          $.ajax({
                              url: "{{ url_for('get_bots')}}",
                              type: "GET",
                             dataType: "json"
                          }).done(function(data) {
                              var titelliste = data.Bots
                              for (var i = 0; i < titelliste.length; i++) {
                                 var selects = $('#bot1, #bot2');
                                 var option = document.createElement("option");
                                  option.text = titelliste[i];
                                  selects.append(option);
                                  selects.trigger("chosen:updated"); 
                              }
                          });
                          event.preventDefault();
         
                  });
                      $(function() {
         
                          $.ajax({
                              url: "{{ url_for('get_maps')}}",
                              type: "GET",
              
                          }).done(function(data) {
                              var titelliste = data.Maps
                              var selects = $('#map');
                              var option = document.createElement("option");
                              option.text = 'Random'
                              selects.append(option);
                              selects.trigger("chosen:updated"); 
                              for (var i = 0; i < titelliste.length; i++) {
                                 var selects = $('#map');
                                 var option = document.createElement("option");
                                  option.text = titelliste[i];
                                  selects.append(option);
                                  selects.trigger("chosen:updated"); 
                              }
         
                          });
                          event.preventDefault();
         
                  });
                  });
         
         
                      
         
                  $(function() {
                      $('#clear_results').on('click', function() {
                         $.ajax({
                              url: "{{ url_for('clear_results')}}",
                              type: "POST",
                              data: {}
                         }).done(function(data){
                             generateDynamicTable();
                         });
                          event.preventDefault();
                  });
                  });
                   $(function() {
                      $('#refresh_results_id').on('click', function() {
                         generateDynamicTable();
                          event.preventDefault();

                  });
                  });
                 $(function() {
                 $('input#arenabots_id').change(function () {

         
                     if ($('input#arenabots_id').is(':checked')) {
                         $(function() {
         
                          $.ajax({
                              url: "{{ url_for('get_arena_bots')}}",
                              type: "GET",
                              
                             dataType: "json"
              
                          }).done(function(data) {
                              var titelliste = data.results

                              for (var i = 0; i < titelliste.length; i++) {
                                 var selects = $('#bot1, #bot2');
                                 var option = document.createElement("option");
                                 option.text = titelliste[i].name + ' (AI-Arena)';
                                 selects.append(option);
                                 selects.trigger("chosen:updated"); 
                              }
         
                          });
                          event.preventDefault();
         
                     });
                     } 
                 });
                 });
         
         
                 function generateDynamicTable(){
                     $(function() {

         
                          $.ajax({
                              url: "{{ url_for('get_results')}}",
                              type: "GET",
                              
                             dataType: "json"
              
                          }).done(function(data) {
                            var myResults = data;
                        
                            var noOfResults = myResults.length;
            
                            if(noOfResults>0){
                                
                    
                                // CREATE DYNAMIC TABLE.
                                var table = document.createElement("table");
                                
                               // table.style.width = '50%';
                                //table.setAttribute('border', '1');
                                //table.setAttribute('cellspacing', '0');
                                //table.setAttribute('cellpadding', '5');
                                //table.setAttribute('class','ResultsTable');
                                table.setAttribute('style',"overflow-x:auto;");
         
                                
                                // retrieve column header
                    
                                var col = []; // define an empty array
                                for (var i = 0; i < noOfResults; i++) {
                                    for (var key in myResults[i]) {
                                        if (col.indexOf(key) === -1) {
                                            col.push(key);
                                        }
                                    }
                                }
                                
                               // CREATE TABLE HEAD .
                                var tHead = document.createElement("thead");	
                                    
                                
                                // CREATE ROW FOR TABLE HEAD .
                                var hRow = document.createElement("tr");
                                
                                // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                                for (var i = 0; i < col.length; i++) {
                                        var th = document.createElement("th");
                                        th.innerHTML = col[i];
                                        hRow.appendChild(th);
                                }
                                tHead.appendChild(hRow);
                                table.appendChild(tHead);
                                
                                // CREATE TABLE BODY .
                                var tBody = document.createElement("tbody");	
                                
                                // ADD COLUMN HEADER TO ROW OF TABLE HEAD.
                                for (var i = noOfResults-1; i >= 0; i--) {
                                
                                        var bRow = document.createElement("tr"); // CREATE ROW FOR EACH RECORD .
                                        
                                        
                                        for (var j = 0; j < col.length; j++) {
                                            var td = document.createElement("td");
                                            var value = myResults[i][col[j]];
         
                                            if (typeof value == 'number' && value.toFixed(5).substring(0,1)=='0.'){
                                                value = (value*1000).toFixed(2);
                                            }
                                            //else if (typeof value == 'string' && value.substring(19,23) =='UTC' ){
                                            //    value = value.substring(0,10);
                                            //}
                                            td.innerHTML = value;
                                            bRow.appendChild(td);
                                        }
                                        tBody.appendChild(bRow)
                    
                                }
                                table.appendChild(tBody);	
                                
                                
                                // FINALLY ADD THE NEWLY CREATED TABLE WITH JSON DATA TO A CONTAINER.
                                var divContainer = document.getElementById("myResults");
                                divContainer.innerHTML = "";
                                divContainer.appendChild(table);
                                
                            }
                            else{
                                var divContainer = document.getElementById("myResults");
                                divContainer.innerHTML = "<p>No Results</p>";
                            }
                            setTimeout(generateDynamicTable, 30000);
         
                            });
                        });	
                 };
         
         
                     
             
                  
      </script>
   </head>
   <body style='background-image: url(/static/img/background.gif)';>
      <div class="wrapper">
      <header class="header">
         <img src="https://ai-arena.net/static/img/ai-arena-logo.png" alt="AI Arena Logo">
      </header>
      <!-- .header-->
      <div class="middle">
      <div class="container">
         <main class="content">
            <h1>Bots</h1>
            <br>
            <label>Show AI-Arena bots:</label><br> <label class="switch">
            <input id="arenabots_id" type="checkbox" name="arenabots">
            <span class="slider round"></span>
            </label><br><br>
            <form id="my_form_id" action="#">
               <label>Bot 1: </label><br>
               <select class="chosen" multiple="true" style="width:80%;" id="bot1" name="bot1" required="true">
               </select><br><br>
               <label>Bot 2: </label><br>
               <select class="chosen" multiple="true" style="width:80%;" id="bot2" name="bot2" required="true">
               </select><br><br>
               <label>Map:&nbsp&nbsp</label><br>
               <select class="chosen" multiple="true" style="width:80%;" id="map" name="map" required="true">
               </select><br><br>
               <label>Iterations: </label><br><input type="number" min="1" step="1" value="1" style="width:20%;" id="iterations_id"><br><br>
               <label>Visualize: </label><label class="switch"><br>
               <input id="visualize_id" type="checkbox" name="visualize">
               <span class="slider round"></span>
               </label><br><br>
               <label>Realtime: </label><label class="switch"><br>
               <input id="realtime_id" type="checkbox" name="realtime">
               <span class="slider round"></span>
               </label><br><br>
               
               <a href="#" id="play_button"><button type = "button" class='btn btn-default'>Play</button></a><br><br>
            </form>
            <div id="watch_id">
               <h1>Live Feed</h1>
               <a href="{{ url_for('watch') }}">Watch</a><br><br><br>
            </div>
            <div class='Results' >
               <h2>Results</h2>
               <button class="btn btn-default" type="button" id="clear_results">Clear Results</button><button class="btn btn-default" type="button" id="refresh_results_id">Refresh</button><br>
               <body onload="generateDynamicTable()">
                  <div id="myResults">
                     <p>No Results</p>
         </main>
         <!-- .content -->
         </div><!-- .container-->
         <aside class="left-sidebar">
         <a href="{{url_for('settings')}}">Settings</a><br>
         <div id="watch_id">
         <a href="{{ url_for('watch') }}">Watch</a><br><br><br>
         </div>
         </aside><!-- .left-sidebar -->
         </div>
      </div>
   </body>
</html>