<!doctype html>
<html>
   <head>
      <title>Settings</title>
      <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <!--style>
         body {
         margin:0;
         overflow: hidden;
         }
         img{
         position: fixed;
         top:0;
         left:0;
         width:100vw:
         height: 100vh;
         }
         .switch {
         position: relative;
         display: inline-block;
         width: 30px;
         height: 17px;
         }
         .switch input { 
         opacity: 0;
         width: 0;
         height: 0;
         }
         .slider {
         position: absolute;
         cursor: pointer;
         top: 0;
         left: 0;
         right: 0;
         bottom: 0;
         background-color: #ccc;
         -webkit-transition: .4s;
         transition: .4s;
         }
         .slider:before {
         position: absolute;
         content: "";
         height: 13px;
         width: 13px;
         left: 2px;
         bottom: 2px;
         background-color: white;
         -webkit-transition: .4s;
         transition: .4s;
         }
         input:checked + .slider {
         background-color: #86c232;
         }
         input:focus + .slider {
         box-shadow: 0 0 1px #86c232;
         }
         input:checked + .slider:before {
         -webkit-transform: translateX(13px);
         -ms-transform: translateX(13px);
         transform: translateX(13px);
         }
         /* Rounded sliders */
         .slider.round {
         border-radius: 9px;
         }
         .slider.round:before {
         border-radius: 25%;
         }
      </style-->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
      <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
      
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <script type="text/javascript">
        jQuery(document).ready(function(){
            const electron = require('electron')
            const remote = electron.remote
            const mainProcess = remote.require('./main')
            document.querySelectorAll('.browse').forEach(item => {
            item.addEventListener('click',  _ => {
            var filepath = mainProcess.selectDirectory();
            var element = document.getElementById(item.id.concat('_field'));
            element.value=filepath[0];
            })
            })
        });
         
         
         $(document).ready(function(){
            $.ajax({
                         url: "{{ url_for('get_settings')}}",
                         type: "GET",
                         dataType:"json"    
                     }).done(function(data) {
                         $("input#bot_directory_id_field").val(data.bot_directory_location)
                         $("input#sc2_directory_id_field").val(data.sc2_directory_location)
                         $("input#replay_directory_id_field").val(data.replay_directory_location)
                         $("input#API_token_id").val(data.API_token)
                         $("input#max_game_time_id").val(data.max_game_time)
                         //$("input#max_game_time_id").slider('refresh')
                         $("#ageOutputId").val([parseInt(data.max_game_time.value/22.4 / 60 / 60),
                            parseInt(data.max_game_time/22.4 / 60 % 60),
                            parseInt(data.max_game_time/22.4 % 60)
                            ]
                            .join(':')
                            .replace(/\b(\d)\b/g, '0$1'))
                         if (data.allow_debug == "On"){
                            $("input#checkboxInputId").attr('checked', true)
                         }
                         else{
                             $("input#checkboxInputId").attr('checked', false)
                         }

         
                     });
                     event.preventDefault();
        // myFunction();
        });
      </script>
   </head>
   <body style='background-image: url(/static/img/background.gif)'>
   <a href="{{url_for('index')}}">Home</a><br>
      <h1>Settings</h1><br><br>
      <label>Bots Location</label><br>
      <form action="{{ url_for('handle_data') }}" method="post">
         <input type="text" id="bot_directory_id_field" style="width:40%;" name="bot_directory_location"></input><br>
         <button type="button" id="bot_directory_id" class='browse btn btn-default'>Browse</button><br><br>
         <label>Starcraft II Install Location</label><br>
         <input type="text" id="sc2_directory_id_field" style="width:40%;" name="sc2_directory_location"></input><br>
         <button type="button" id="sc2_directory_id" class='browse btn btn-default'>Browse</button><br><br>
         <label>Replay Save Location</label><br>
         <input type="text" id="replay_directory_id_field" style="width:40%;" name="replay_directory_location"></input><br>
         <button type="button" id="replay_directory_id" class='browse btn btn-default'>Browse</button><br><br>
         <label>AI-Arena API Token</label><br>
         <input id="API_token_id" type="text" style="width:40%;" name="API_token"></input>  <a href="https://ai-arena.net/profile/token/?" target="_blank">API Token Link</a><br><br>
         <p>
            <!-- Max Game Time: <input type="text" name="max_game_time" id="max_game_time"><br>-->
            <!--Last name: <input type="max_game_time" name="max_game_time"><br>-->
            <label>Max Game Time</label><br><input type="range" style="width:40%;" name="max_game_time" id="max_game_time_id" value="60486" min="1" max="432000" oninput="ageOutputId.value = [
               parseInt(max_game_time_id.value/22.4 / 60 / 60),
               parseInt(max_game_time_id.value/22.4 / 60 % 60),
               parseInt(max_game_time_id.value/22.4 % 60)
               ]
               .join(':')
               .replace(/\b(\d)\b/g, '0$1')">
            <output name="ageOutputName" id="ageOutputId">00:45:00</output><br><br> <!--Not working from file update TODO: fix-->
            <label>Allow Debug:</label><br><label class="switch">
            <input id="checkboxInputId" type="checkbox" name="allow_debug">
            <span class="slider round"></span>
            </label><br><br>
            <br>
            <button class="btn btn-default" type="submit">Submit</button>
      </form>
      </p>
      
   </body>
</html>