<!doctype html>
<html>
<head>
    <title>Watch</title>
     <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
     <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
</head>
<body style='background-image: url(/static/img/background.gif);'>
<a href="{{url_for('index')}}">Home</a><br><br><br>
<img src="{{ url_for('video_feed')}}" style="display: block;margin-left: auto;margin-right: auto;width: auto; max-height: 100%;">
</body>